body {
    margin: 0;
    padding: 0;
    color: white;
    background: #0F6D32 url("../images/metro_green_1080p.jpg") repeat top center;
    font-family: 'Microsoft Yahei', Calibri, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

#container {

}

header {
    width: 100%;
    height: 82px;
    margin: 0;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px #999 solid;
}

nav {
    /*position: absolute;*/
    /*z-index: 1;*/
    float: right;
    vertical-align: middle;
    margin-top: 10px;
}

nav>a {
    width: 95px;
    height: auto;
    text-align: center;
    padding: 7px 3px 5px 3px;
    margin: 0;
    display: inline-block;
    z-index: inherit;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: background 100ms ease-in;
}

nav>a.nav_item_active {
    background-color: #509601;
}

nav>a:hover {
    color: #ffffff;
}

nav>a.nav_item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

nav>a>img {
    height: 32px;
    width: 32px;
    display: block;
    border: none;
    margin: 0 auto 5px auto;
}

#header_wrapper {
    width: 100%;
    height: 100%;
}

#header_center {
    width: 930px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

#header_title {
    float: left;
    display: inline-block;
}

#header_title>h1 {
    margin: 7px 0 3px 0;
    display: block;
    font-size: 2em;
}

#header_title>h2 {
    font-size: 15px;
    color: #CCC;
    margin-left: 5px;
}

#main_content {
    width: 930px;
    height: 100%;
    margin: 10px auto;
}

.surface {
    width: 280px;
    height: 130px;
    margin: 5px 5px 5px 2px;
    cursor: default;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5px;
    float: left;
}

.surface:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border: #ffffff 1px solid;
}

.surface_transition {
    width: 130px;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.surface_transition:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.surface_icon {
    width: 130px;
    line-height: 1;
    text-align: center;
}

.surface_icon>img {
    width: 96px;
    height: 96px;
    display: block;
    margin: 0 auto;
}

.surface_content {
    font-size: 120%;
    display: none;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

.title {
    font-size: 120%;
    font-weight: bolder;
    padding: 2px 0;
}

.desc {
    font-size: 80%;
}

h1, h2, h3 {
    font-weight: 100;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #FF9900;
}

.surface_bg_0 {
    background-color: #039AAB;
}

.surface_bg_1 {
    background-color: #5C489D;
}

.surface_bg_2 {
    background-color: #4473B9;
}

.surface_bg_3 {
    background-color: #0E9E49;
}

.surface_bg_4 {
    background-color: #953193;
}

.surface_bg_5 {
    background-color: #305BAA;
}

.surface_bg_6 {
    background-color: #D44B29;
}

.surface_bg_7 {
    background-color: #FF9B00;
}

.surface_bg_8 {
    background-color: #267F00;
}

.surface_bg_9 {
    background-color: #B91C46;
}