body {
    background: #EAEAEA;
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Microsoft Yahei", serif;
}

* {
    margin: 0;
}

*:focus {
    outline: 0;
}

.head_container {
    width: 100%;
    height: 100px;
    background: #F6F4CD;
    color: #462614;
    border-bottom: white solid 2px;
}

.head {
    width: 900px;
    margin: 0 auto;
    background: #F6F4CD;
    color: #462614;
}

.shell_container {
    width: 900px;
    margin: 20px auto;
}

#shell {
    height: 500px;
    background: #1F140D;
    color: #55D839;
    padding: .25em;
    overflow-y: scroll;
}

.info {
    font-size: 12px;
}

.line {
    font-size: 14px;
}

.readLine {
    width: 95%;
    display: inline;
    border: none;
    font-family: Monaco, monospace;
    font-size: 100%;
    background: #1F140D;
    color: #55D839;
}

#footer {
    width: 900px;
    margin: 0 auto;
}

#footer a {
    color: #AF3B2C;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

